@charset "utf-8";
/*基本标签*/
p,div,ol, ul, li,*{ margin:0; padding:0; border:0; }
ol, ul, li{ list-style:none; }
b, strong { font-weight:bold; }
table { border-collapse:collapse; border-spacing:0; }
caption, th, td { text-align:left; font-weight:normal; }
img { border:0; vertical-align:middle; }
a { text-decoration:none; vertical-align:baseline; -webkit-transition:all 0.2s ease; -moz-transition:all 0.2s ease; transition:all 0.2s ease; }
a:hover { text-decoration:none; }
a,a:hover, a:focus, a:active { outline:0; color: #000;}
input,select{appearance:none;-moz-appearance:none;-webkit-appearance:none;}
body { font-size:12px;-ms-word-break:break-all; -webkit-word-break:break-all; -moz-word-break:break-all; word-break:break-word; word-wrap:break-word; overflow-wrap:break-word; font-family:Arial, "Microsoft YaHei"; }
/*页面样式*/
body,html{min-height: 100%; background: #fff;}